input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-radio:checked {
  accent-color: black; 
}

.custom-radio:checked + label {
  color: black; 
}