.TDEE-container {
  /* background-image: url('C:\Users\user\2PersonProject\client\src\Asset\tdee\tdee-background.jpg'); */
  /* background-image: url('/Users/nguyenhong/Documents/FymAndGoodProject/client/src/Asset/tdee/tdee-background.jpg'); */
  background-size: cover;
  /* background-attachment: fixed; */
  position: relative;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px); 
  z-index: 1000; 
}


.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.radio-group input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.radio-group input[type="radio"]:checked:after {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #000000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white; 
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-with-placeholder {
  position: relative;
}

.input-with-placeholder input[type="number"]::-webkit-inner-spin-button,
.input-with-placeholder input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-with-placeholder input {
  width: calc(100% - 40px); 
}

.placeholder {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  color: #555;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

input[type="number"],
select {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
}

.gender-label {
  margin-right: 150px;
  transform: translateY(20%);
}

.TDEE-container button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 15px;
}

.TDEE-container button:hover {
  background-color: #D3A121;
}

#activityLevel {
  width: 400px;
}

.recommendation {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recommendation h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.recommendation p {
  margin: 0 auto; 
  font-size: 80px;
  color: #555;
}

.TDEE-container .error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  color: #000000;
  text-align: center;
  height: auto;
  z-index: 9999;
  height: auto;
}


.TDEE-container .error-popup p {

  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.TDEE-container .error-popup button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.TDEE-container .error-popup button:hover {
  background-color: #D3A121;
}

.TDEE-container .recommendation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  color: #000000;
  text-align: center;
  z-index: 9999;
  width: 720px; /*khang 700px,Hong720px*/
  height: 520px; /*khang 500px,Hong 520px*/
}


.TDEE-container .recommendation-popup p {
  margin: 0;
  line-height: 1.5;
}

.TDEE-container .recommendation-popup button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.TDEE-container .recommendation-popup button:hover {
  background-color: #333;
}

/* Footer Section */
.footer-section {
  background-color:  #272728;
  padding: 40px 0;
  text-align: center;
  margin-top: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-content ul li:last-child {
  margin-right: 0;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-content p {
  margin-top: 20px;
  font-size: 14px;
}

.food-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.TDEE-container .food-card {
  margin: 0 10px;
  height: auto; /*khang: 250px,Hong auto*/
}

.TDEE-container .food-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TDEE-container.nutrition-info {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #D3A121;
  align-items: center; 
  justify-content: center;
}

.TDEE-container .food-image-container {
  height: 170px;
  overflow: hidden;
}
.TDEE-container .food-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.TDEE-container .info-item {
  flex: 1 1 50%; 
  display: flex;
  align-items: center;
  margin-left: -58px;
  font-size: 16px;
}